<script setup>
import Card from 'primevue/card';
</script>

<template>
    <div class="flex-wrap justify-content-center p-megamenu-grid gap-4 m-4">
        <div>
            <Card style="width: 27rem">
                <template #title>Total Praktikan</template>
                <template #content>
                    <p class="m-0">
                        191
                    </p>
                </template>
            </Card>
        </div>

        <div>
            <Card style="width: 27rem">
                <template #title>Pertemuan</template>
                <template #content>
                    <p class="m-0">
                        Pertemuan 1
                    </p>
                </template>
            </Card>
        </div>

        <div>
            <Card style="width: 27rem">
                <template #title>Praktikum</template>
                <template #content>
                    <p class="m-0">
                        Basis Data
                    </p>
                </template>
            </Card>
        </div>

        <div>
            <Card style="width: 27rem">
                <template #title>Total aslab</template>
                <template #content>
                    <p class="m-0">
                        7
                    </p>
                </template>
            </Card>
        </div>

    </div>
</template>


