<script setup>
import DataTable from 'primevue/datatable';
import Column from 'primevue/column';

</script>

<template>
    <div class="m-5">
        <DataTable :value="praktikan" removableSort tableStyle="min-width: 50rem">
            <Column field="code" header="NPM" sortable style="width: 25%"></Column>
            <Column field="name" header="Nama" sortable style="width: 25%"></Column>
            <Column field="category" header="Sesi" sortable style="width: 25%"></Column>
            <Column field="quantity" header="Aksi" style="width: 25%"></Column>
        </DataTable>
    </div>
</template>
