<script setup>
import Dropdown from "primevue/dropdown";
import { usePage } from "@inertiajs/vue3";
const { route } = usePage();

import { ref, onMounted } from "vue";
import { ProductService } from "@/service/NodeService";
import DataTable from "primevue/datatable";
import Column from "primevue/column";
import InputText from "primevue/inputtext";
import { FilterMatchMode } from "primevue/api";

const products = ref([]);
const filters = ref({
    global: { value: null, matchMode: FilterMatchMode.CONTAINS },
    Nama: { value: null, matchMode: FilterMatchMode.CONTAINS },
    Npm: { value: null, matchMode: FilterMatchMode.CONTAINS },
    Praktikum: { value: null, matchMode: FilterMatchMode.CONTAINS },
    Asistensi: { value: null, matchMode: FilterMatchMode.CONTAINS },
});

const filteredProducts = ref([]);

onMounted(async () => {
    const data = await ProductService.getProductsMini();
    products.value = data;
    filterProducts(); // Initial filtering
});

const filterProducts = () => {
    filteredProducts.value = products.value.filter((product) =>
        Object.entries(filters.value).every(
            ([key, filter]) =>
                filter.value === null ||
                String(product[key])
                    .toLowerCase()
                    .includes(filter.value.toLowerCase())
        )
    );
};

const selectedCity = ref();
const cities = ref([
    { name: "Pertemuan 1", route: "" },
    { name: "Pertemuan 2", route: "pertemuan2" },
    { name: "Pertemuan 3", route: "pertemuan3" },
]);

const handleDropdownChange = () => {
    console.log("Dropdown changed:", selectedCity.value);

    if (selectedCity.value && selectedCity.value.route) {
        window.location.href = selectedCity.value.route;
    }
};
</script>

<template>
    <div class="ml-5 mt-5 container flex">
        <div class="card">
            <div class="card flex justify-content-center w-25">
                <Dropdown
                    v-model="selectedCity"
                    :options="cities"
                    optionLabel="name"
                    placeholder="Pilih Pertemuan"
                    class="w-full md:w-14rem"
                    @change="handleDropdownChange"
                />
            </div>
        </div>
        <main>
            <div class="card">
                <DataTable
                    v-model:filters="filters"
                    :value="filteredProducts"
                    paginator
                    :rows="10"
                    filterDisplay="menu"
                    :globalFilterFields="[
                        'Nama',
                        'Npm',
                        'Praktikum',
                        'Asistensi',
                    ]"
                    tableStyle="min-width: 50rem"
                >
                    <template #header>
                        <IconField iconPosition="left">
                            <InputIcon>
                                <i class="pi pi-search" />
                            </InputIcon>
                            <InputText
                                v-model="filters['global'].value"
                                placeholder="Global Search"
                            />
                        </IconField>
                    </template>

                    <Column
                        field="Nama"
                        header="Nama"
                        sortable
                        :filterMatchMode="FilterMatchMode.CONTAINS"
                    >
                        <template #filter="{ filterModel }">
                            <InputText
                                v-model="filterModel.value"
                                type="text"
                                class="p-column-filter"
                                placeholder="Search by Nama"
                            />
                        </template>
                    </Column>

                    <Column
                        field="Npm"
                        header="Npm"
                        sortable
                        :filterMatchMode="FilterMatchMode.CONTAINS"
                    >
                        <template #filter="{ filterModel }">
                            <InputText
                                v-model="filterModel.value"
                                type="text"
                                class="p-column-filter"
                                placeholder="Search by Npm"
                            />
                        </template>
                    </Column>

                    <Column
                        field="Praktikum"
                        header="Praktikum"
                        sortable
                        :filterMatchMode="FilterMatchMode.CONTAINS"
                    >
                        <template #filter="{ filterModel }">
                            <InputText
                                v-model="filterModel.value"
                                type="text"
                                class="p-column-filter"
                                placeholder="Search by Praktikum"
                            />
                        </template>
                    </Column>

                    <Column
                        field="Asistensi"
                        header="Asistensi"
                        sortable
                        :filterMatchMode="FilterMatchMode.CONTAINS"
                    >
                        <template #filter="{ filterModel }">
                            <InputText
                                v-model="filterModel.value"
                                type="text"
                                class="p-column-filter"
                                placeholder="Search by Asistensi"
                            />
                        </template>
                    </Column>

                    <template #empty>No products found.</template>
                </DataTable>
            </div>
        </main>
    </div>
</template>
