<script setup>
import { ref } from "vue";

import Dropdown from "primevue/dropdown";
import { usePage } from "@inertiajs/vue3";
const { route } = usePage();

const selectedCity = ref();
const cities = ref([
    { name: "Pertemuan 1", route: "nilai/pertemuan1" },
    { name: "Pertemuan 2", route: "nilai/pertemuan2" },
    { name: "Pertemuan 3", route: "nilai/pertemuan3" },
]);

const handleDropdownChange = () => {
    console.log("Dropdown changed:", selectedCity.value);

    if (selectedCity.value && selectedCity.value.route) {
        window.location.href = selectedCity.value.route;
    }
};
</script>

<template>
    <div class="ml-5 mt-5 container flex">
        <div class="card">
            <div class="card flex justify-content-center w-25">
                <Dropdown
                    v-model="selectedCity"
                    :options="cities"
                    optionLabel="name"
                    placeholder="Pilih Pertemuan"
                    class="w-full md:w-14rem"
                    @change="handleDropdownChange"
                />
            </div>
        </div>
        <main>
            <slot />
        </main>
    </div>
</template>
