<template>
    <div class="card m-5">
        <TabMenu :model="items" :activeIndex="activeIndex" @update:activeIndex="updateActiveIndex" @tab-change="handleTabChange"/>
        <slot />
    </div>
</template>

<script setup>
import { ref } from "vue";
import { router } from '@inertiajs/vue3';
import TabMenu from 'primevue/tabmenu';
import { usePage } from '@inertiajs/vue3';

const { url } = usePage();
const items = ref([
    { label: 'Dashboard', icon: 'fa fa-home', route:'/praktikum' },
    { label: 'Pertemuan', icon: 'fa fa-book', route:'/praktikum/pertemuan' },
    { label: 'Form', icon: 'fa fa-list', route:'/praktikum/form' }
]);

// Inisialisasi indeks tab aktif
let activeIndex = items.value.findIndex(item => item.route === url);
if (activeIndex === -1) {
    activeIndex = 0; // Jika tidak ada rute yang cocok, default ke indeks 0
}

const updateActiveIndex = (index) => {
    activeIndex = index;
};

const handleTabChange = (event) => {
    const selectedTab = items.value[event.index];
    router.get(selectedTab.route);
};
</script>
