<script setup>
import Card from 'primevue/card'
import Button from 'primevue/button'
import Praktikum from '../praktikum.vue'
import Swal from 'sweetalert2'
import { router } from '@inertiajs/vue3';
import { ref  } from 'vue';


defineProps(['pertemuan' , 'praktikum'])


const setStatus = async (status , no_pertemuan) => {
    status = status === 'aktif' ? 'Menonaktifkan' : 'Mengaktifkan'
    Swal.fire({
        title: `Kamu Yakin ${status}`,
        text: `kamu akan ${status} pertemuan ${no_pertemuan}`,
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Ya, aku yakin!"
    }).then((result) => {
    if (result.isConfirmed) {
        status = status === 'Menonaktifkan' ? 'tidak' : 'aktif'
        const form = ref({
            'status' : status,
            'no_pertemuan' : no_pertemuan
        })
        router.post('/praktikum/set-status-pertemuan', form.value)
        Swal.fire({
            title: `${status}!`,
            text: `Kamu berhasil ${status} pertemuan`,
            icon: "success"
        });
        }
    });
}

const lihatSesi = async (no_pertemuan) => {
    router.get(`/praktikum/pertemuan${no_pertemuan}`)
}
</script>

<template>
    <Praktikum>
        <div class="container mt-5">
            <h2 class="mb-4 ml-4">Praktikum {{ praktikum.nama_praktikum }}</h2> 
            <div class="row  g-3 gx-2 ml-2">
                <div v-for="(index) in pertemuan" class="col">
                    <Card style="width: 22rem; overflow: hidden; height:27rem">
                        <template #header>
                            <img alt="user header" style="height: 10rem;" src="https://primefaces.org/cdn/primevue/images/usercard.png" />
                        </template>
                        <template #title>Pertemuan {{ index.no_pertemuan }}</template>
                        <template #subtitle>Status Pertemuan : {{ index.status === 'tidak' ? 'tidak aktif' : 'aktif'}}</template>
                        <template #content>
                            <p class="m-0">
                                Modul 1 sampai 3 tentang instalasi IDE dan pengenalan oop
                            </p>
                        </template>
                        <template #footer>
                            <div class="flex gap-3 mt-1">
                                <Button @click="setStatus(index.status , index.no_pertemuan)" :label="index.status" severity="primary" class="w-full rounded" />
                                <Button @click="lihatSesi(index.no_pertemuan)" label="Lihat" severity="warning" class="ml-2 w-full rounded"  />
                            </div>
                        </template>
                    </Card>  
                </div>
              </div>
        </div>
    </Praktikum>
    
</template>