<script setup>
import Card from 'primevue/card'
import Button from 'primevue/button'
import Praktikum from '../praktikum.vue'
defineProps(['praktikum_aktif'])

</script>

<template>
    <Praktikum>
        <!-- Page Content  -->
        <div  class="p-4 p-md-5 pt-5">
            <h2 class="mb-4">Praktikum {{ praktikum_aktif.nama_praktikum }}</h2>   
        </div>
    </Praktikum>

</template>