<script setup>
import Card from 'primevue/card'
import Button from 'primevue/button'
import Praktikum from '../praktikum.vue'
import Swal from 'sweetalert2'
import { router } from '@inertiajs/vue3';
import { ref  } from 'vue';

defineProps(['no_pertemuan' , 'praktikum'])
</script>

<template>
    <Praktikum>
        <div class="container mt-5">
            <h2 class="mb-4 ml-4">Praktikum {{ praktikum.nama_praktikum }} - Pertemuan {{ no_pertemuan }}</h2> 
            <div class="row  g-3 gx-2 ml-2">
                <div class="col">
                    <Card style="width: 22rem; overflow: hidden; height:27rem">
                        <template #header>
                            <img alt="user header" class=" img img-fluid" style="height: 10rem;" src="/image/card-sesi-1.jpg" />
                        </template>
                        <template #title>Sesi </template>
                        <template #subtitle>Status Pertemuan :</template>
                        <template #content>
                            <p class="m-0">
                                Modul 1 sampai 3 tentang instalasi IDE dan pengenalan oop
                            </p>
                        </template>
                        <template #footer>
                            <div class="flex gap-3 mt-1">
                                <Button label="orang" severity="primary" class="w-full rounded" />
                                <Button label="Lihat" severity="warning" class="ml-2 w-full rounded"  />
                            </div>
                        </template>
                    </Card>  
                </div>
              </div>
        </div>
    </Praktikum>
    
</template>