<script setup>
import { onMounted, ref, computed } from 'vue';
import { useToast } from 'primevue/usetoast';
import { usePage , Link} from '@inertiajs/vue3';
import Toast from 'primevue/toast';
const sidebarActive = ref(false);
const toast = useToast();
const page = usePage();


const toggleSidebar = () => {
  sidebarActive.value = !sidebarActive.value;
};

const pesan = computed(() => page.props.flash.pesan);

onMounted(() => {
  if (pesan.value) {
    setTimeout(() => {
      toast.add({ severity: 'success', summary: 'success', detail: pesan.value, life: 4000 });
    }, 500);
  }
});
</script>

<template>
  <div class="wrapper d-flex align-items-stretch">
    <nav id="sidebar" :class="{ active: sidebarActive }">
      <!-- Sidebar Content -->
      <div class="custom-menu">
        <button type="button" id="sidebarCollapse" class="btn btn-primary" @click="toggleSidebar">
          <i class="fa fa-bars"></i>
          <span class="sr-only">Toggle Menu</span>
        </button>
      </div>
      <div class="p-4">
        <h1><a class="logo">Aslab <span> {{ $page.props.auth.aslab.username }}</span></a></h1>
        <ul class="list-unstyled components mb-5">
          <li :class="{ active: $page.url === '/' }">
            <Link href="/" ><span class="fa fa-home mr-3"></span> Home</Link >
          </li>
          <li :class="{ active: $page.url.startsWith('/praktikum')  }">
            <Link href="/praktikum" ><span class="fa fa-book mr-3"></span> Praktikum</Link >
          </li>
          <li :class="{ active: $page.url.startsWith('/list-praktikan') }">
            <Link href="/list-praktikan" ><span class="fa fa-user mr-3"></span> List Praktikan</Link >
          </li>
          <li :class="{ active:  $page.url.startsWith('/nilai') }">
            <Link href="/nilai" ><span class="fa fa-sticky-note mr-3"></span> Nilai</Link >
          </li>
          <li :class="{ active:  $page.url.startsWith('/pelanggaran') }">
            <Link href="/pelanggaran" ><span class="fa fa-exclamation-triangle mr-3"></span> Pelanggaran</Link >
          </li>
          <li :class="{ active:  $page.url.startsWith('/profile') }">
            <Link href="/profile" ><span class="fa fa-briefcase mr-3"></span> Profile</Link >
          </li>
        </ul>
      </div>
    </nav>
    <!-- Content -->
    <div id="content">
      <Toast />
      <main>
        <div class="container mt-5">
          <slot></slot>
        </div>
      </main>
      <!-- <router-view></router-view> -->
    </div>
  </div>
</template>
