<script setup>
import { ref  } from 'vue';
import { router } from '@inertiajs/vue3'
import Swal from 'sweetalert2'

const form = ref({
    npm: '',
    password: ''
})
const passwordFieldType = ref('password');
const props = defineProps(['error']);

const togglePasswordVisibility = () => {
  passwordFieldType.value = passwordFieldType.value === 'password' ? 'text' : 'password';
};

const navigate = async () => {
    if (form.value.email === '' || form.value.password === '') {
        Swal.fire({
            title: "Form harus diisi",
            text: "Isi form terlebih dahulu",
            icon: "warning"
        });
    } else {
        Swal.fire({
            position: "center",
            timerProgressBar: true,
            title: "Sedang Proses",
            timer: 500,
            didOpen: async () => {
                Swal.showLoading();
                router.post('/login-proses', form.value);
            }
        });
    }
}

</script>

<template>
  <section class="vh-100">
      <div class="container-fluid h-custom">
          <div class="row d-flex justify-content-center align-items-center h-100">
              <div class="col-md-9 col-lg-6 col-xl-5">
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-login-form/draw2.webp"
                      class="img-fluid" alt="Sample image">
              </div>
              <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
                  <form >
                      <img src="/rpl.png" class="rounded mb-1" style="width: 100px;" alt="Sample image">
                      <img src="/itats.png" class="rounded mb-1" style="width: 100px;" alt="Sample image">
                      <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start"></div>
                      <div class="divider d-flex align-items-center my-4">
                          <p class="text-center fw-bold mx-3 mb-0">Selamat datang</p>
                      </div>
                      <div class="alert alert-danger alert-dismissible fade show" role="alert" v-if="$page.props.flash.pesan">
                        {{ $page.props.flash.pesan }}
                        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                      </div>
                      <!-- Npm input -->
                      <div class="form-outline mb-4">
                          <input v-model="form.npm" type="text" id="npm" class="form-control form-control-lg border"
                              placeholder="Masukkan NPM" />
                          <label class="form-label" for="npm">Masukkan Npm</label>
                      </div>
                      <!-- Password input -->
                      <div class="form-outline d-flex align-items-center border rounded">
                        <input v-model="form.password" :type="passwordFieldType" class="form-control form-control-lg" placeholder="Enter password">
                        <button type="button" class="btn btn-light" @click="togglePasswordVisibility">
                            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye" viewBox="0 0 16 16">
                                <path d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8M1.173 8a13 13 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5s3.879 1.168 5.168 2.457A13 13 0 0 1 14.828 8q-.086.13-.195.288c-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5s-3.879-1.168-5.168-2.457A13 13 0 0 1 1.172 8z"/>
                                <path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5M4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0"/>
                            </svg>
                        </button>
                      </div>
                      <label class="form-label">Password</label>
                      <div class="text-center text-lg-start mt-4 pt-2">
                          <button type="button" class="btn btn-primary btn-lg " @click="navigate" style="padding-left: 2.5rem; padding-right: 2.5rem;">Login</button>
                      </div>
                  </form>
              </div>
          </div>
      </div>
      <div class="d-flex flex-column flex-md-row text-center text-md-start justify-content-between py-4 px-5 px-xl-5 bg-primary">
          <!-- Copyright -->
          <div class="text-white mb-3 mb-md-0">
              Rpl digital Sistem
          </div>
      </div>
  </section>
</template>


<style scoped>
  .divider:after,
  .divider:before {
      content: "";
      flex: 1;
      height: 1px;
      background: #eee;
  }
  .h-custom {
      height: calc(100% - 73px);
  }
  @media (max-width: 450px) {
      .h-custom {
          height: 100%;
      }
  }
</style>
<script>
export default {
    layout: null
};
</script>