<script setup>
defineProps([
    'nama_aslab',
    'praktikum_aktif'
])
</script>

<template>
    <h1>halo</h1>
    <h1>{{ nama_aslab }}</h1>
    <h1>{{ praktikum_aktif.nama_praktikum }}</h1>
</template>