<script setup>
import { ref, onMounted } from 'vue';
import { ProductService } from '../../../service/NodeService';

import DataTable from 'primevue/datatable';
import Column from 'primevue/column';
import ColumnGroup from 'primevue/columngroup';   // optional
import Row from 'primevue/row';                   // optional

onMounted(() => {
    ProductService.getProductsMini().then((data) => (products.value = data));
});

const products = ref();
</script>

<template>
    <div class="card">
        <DataTable :value="products" tableStyle="min-width: 50rem">
            <Column field="Nama" header="Nama"></Column>
            <Column field="Npm" header="Npm"></Column>
            <Column field="Praktikum" header="Praktikum"></Column>
            <Column field="Asistensi" header="Asistensi"></Column>
        </DataTable>
    </div>
</template>